* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 60px;
    margin-left: 30px;
}

p {
    margin-top: 5px;
    margin-left: 30px;
    font-size: 13px;
}

footer {
    background-color: black;
}

.header-container {
    justify-content: space-between;
    display: flex;
}

.row-left, .row-right {
    display: flex;
    margin: 20px;
}

.blue-button {
    background-color: rgb(0, 89, 255);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    background-color: rgb(126, 190, 255);
}

.col-200 {
    padding-top: 50px;
    padding-left: 500px;
}

.col-100 {
    display: flex;
}

.col-50 .blue-button {
    font-size: 13px;
    padding: 7px;
    margin-left: 30px;
}

.col-50 p {
    margin-top: 20px;
}

.jumbo {
    width: 500px;
    margin-top: 20px;
}

.p-margin {
    margin-bottom: 20px;
}

.arrow {
    font-size: 50px;
    padding-top: 30px;
}

.row-2 {
    margin-top: 100px;
    margin-left: 500px;
    margin-bottom: 100px;
}

.row-2 h2 {
    font-size: 30px;
}

.row-4 {
    background-color: rgb(126, 190, 255);
    display: flex;
    justify-content: space-between;
    padding: 100px 500px;
}

.row-4 h2 {
    color: brown;
}

.row-4 .blue-button {
    background-color: white;
    color: black;
    margin-bottom: 0px;
}

.fatturazione {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fattura-2 {
    margin-left: 50px;
}

.acquisto {
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    border: solid 1px;
    border-color: gray;
    width: 300px;
    height: 700px;
    margin-right: 50px;
}

.col-20 span {
    margin-left: 110px;
    border-bottom: solid 1px;
    border-color: gray;
}

.col-21 {
    border: solid 1px;
    border-color: gray;
    width: 1000px;
    height: 300px;
    margin-top: 50px; 
}

.partner {
    display: flex;
    margin-top: 150px;
}

.partner img {
    width: 600px;
}

.partner h2 {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
}

.partner p {
    font-size: 14px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.partner span {
    font-size: 14px;
    margin-left: 50px;
    padding: 10px;
    background-color: white;
    color: black;
    border: solid 1px;
}

.dropbox {
    margin-top: 100px;
}

.dropbox-business {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: 250px;
}

.business img {
    width: 250px;
}

.business h2 {
    font-size: 20px;
}

.business p {
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.dropbox-business-2 {
    margin-top: 100px;
}

.dropbox-business-2 p {
    margin-top: 40px;
    margin-left: 0px;
    color: blue;
    text-decoration: underline;
}

.company {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.design {
    width: 300px;
    border: solid 10px;
    border-color: rgb(227, 255, 182);
    background-color: greenyellow;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.arizona {
    width: 200px;
    background-color: brown;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.florida {
    width: 100px;
    background-color: dodgerblue;
}

.topps {
    width: 200px;
    background-color: red;
}